form {
    display: inline;
}

div.confirm {
    border: solid 2px green;
    background-color: lightgreen;
    padding: 0.5em; margin: 0.5em;
}

div.complete {
    border: solid 2px blue;
    background-color: lightblue;
    padding: 0.5em; margin: 0.5em;
}

/* TODO */
table.todo-list th {
    color: #FF9800;
    background: #fff5e5;            
}

/*
 * 以下、Macchinetta のガイドラインより
 * https://macchinetta.github.io/server-guideline-thymeleaf/current/ja/ArchitectureInDetail/WebApplicationDetail/Validation.html
 */
.form-horizontal input {
    display: block;
    float: left;
}

.form-horizontal label {
    display: block;
    float: left;
    text-align: right;
    float: left;
}

.form-horizontal br {
    clear: left;
}

.error-label {
    color: #b94a48;
}

.error-input {
    border-color: #b94a48;
    margin-left: 5px;
}

.error-messages {
    color: #b94a48;
    display: block;
    padding-left: 5px;
    overflow-x: auto;
}

.error-message-list {
    color: #b94a48;
    padding:5px 10px;
    background-color: #fde9f3;
    border:1px solid #c98186;
    border-radius:5px;
    margin-bottom: 10px;
}
