<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{todo.list.title}">List TODO</title>
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>

<body>
    <form th:action="@{/home}">
        <button th:text="#{common.home}">Home</button>
    </form>
    <hr>
    <h2 th:text="#{todo.list.title}">List TODO</h2>

    <form th:action="@{/todo/create/}">
        <button th:text="#{todo.list.add-new}">Add New</button>
    </form>

    <hr>
    <table class="todo-list">
        <tr>
            <th th:text="#{todo.common.title}">Title</th>
            <th></th>
        </tr>
        <tr th:each="todo : ${list}">
            <td th:text="${todo.todoTitle}">title1</td>
            <td>
                <form th:action="@{/todo/update/}" th:method="post">
                    <input type="hidden" name="todoId" th:value="${todo.todoId}">
                    <button th:text="#{todo.list.update}">Update</button>
                </form>
                <form th:action="@{/todo/delete/}" th:method="post">
                    <input type="hidden" name="todoId" th:value="${todo.todoId}">
                    <button th:text="#{todo.list.delete}">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <hr>

</body>

</html>