<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title th:text="#{todo.delete.confirm.title}">Confirm - Delete TODO</title>
    <link th:href="@{/css/content.css}" rel="stylesheet">
</head>

<body>
    <h2 th:text="#{todo.delete.confirm.title}">Confirm - Delete TODO</h2>

    <div class="confirm">
        <span th:text="#{message.todo.delete.confirm}"></span>

        <table th:object="${todoForm}">
            <tr>
                <td th:text="#{todo.common.title}">Title</td>
                <td th:text="*{todoTitle}"></td>
            </tr>
        </table>
    </div>

    <form th:action="@{/todo/delete/cancel}">
        <button th:text="#{common.cancel}">Cancel</button>
    </form>
    <form th:action="@{/todo/delete/execute}" th:method="post">
        <button th:text="#{todo.delete.confirm.execute}">Execute</button>
    </form>
</body>

</html>